<header aria-labelledby="page-title">
  <h1 id="page-title">Accessible Text</h1>
</header>

<main>
  <article aria-labelledby="simple-text-title" class="card">
    <h2 id="simple-text-title">Simple text</h2>
    <app-text [innerContent]="text"></app-text>
  </article>

  <article aria-labelledby="text-custom-a-title" class="custom-a card">
    <h2 id="text-custom-a-title" class="custom-a__title">Text custom A</h2>
    <app-text [innerContent]="text">
      <ng-template #paragraphTemplate let-ctx>
        <app-custom-a
          [paragraph]="ctx.paragraph"
          [isFirst]="ctx.first"
          [isLast]="ctx.last"
        ></app-custom-a>
      </ng-template>
    </app-text>
  </article>

  <article aria-labelledby="text-custom-b-title" class="custom-b card">
    <h2 id="text-custom-b-title" class="custom-b__title">Text custom B</h2>
    <app-text [innerContent]="text">
      <ng-template #paragraphTemplate let-ctx>
        <app-custom-b
          [paragraph]="ctx.paragraph"
          [isFirst]="ctx.first"
          [isLast]="ctx.last"
        ></app-custom-b>
      </ng-template>
    </app-text>
  </article>
</main>
