<header aria-labelledby="page-title">
  <h1 id="page-title">Accessible Text</h1>
</header>

<main>
  <section aria-labelledby="simple-text-title">
    <h2 id="simple-text-title">Simple text</h2>
    <app-text [innerContent]="text"></app-text>
  </section>

  <section aria-labelledby="text-custom-a-title" class="custom-a card">
    <h2 id="text-custom-a-title">Text custom A</h2>
    <app-text [innerContent]="text">
      <ng-template #paragraphTemplate let-ctx>
        <p class="custom-a__paragraph" [ngClass]="{ first: ctx.first }">
          {{ ctx.paragraph }}
        </p>
        <div *ngIf="!ctx.last" class="custom-a__separator"></div>
      </ng-template>
    </app-text>
  </section>

  <section aria-labelledby="text-custom-b-title" class="custom-b card">
    <h2 id="text-custom-b-title">Text custom B</h2>
    <app-text [innerContent]="text">
      <ng-template #paragraphTemplate let-ctx>
        <p class="custom-b__paragraph" [ngClass]="{ first: ctx.first }">
          {{ ctx.paragraph }}
        </p>
        <div *ngIf="!ctx.last" class="custom-b__separator"></div>
      </ng-template>
    </app-text>
  </section>
</main>
